/* Reset CSS Básico  */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Mobile First  */

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'News Cycle', sans-serif;
  justify-content: flex-start;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.header-top {
  align-items: center;
  background-image: url("./imgs/outros/fundo01.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 85px;
  padding: 15px;
  width: 100%;
}
.logo {
  width: 40px;
}

.logo-paladino {
  width: 175px;
}

.box-cart {
  align-items: center;
  display: flex;
}

.logo-carrinho {
  width: 40px;
  cursor: pointer;
}

/* .logo-carrinho:hover {
  width: 35px;
} */

.contador-carrinho {
  background-color: white;
  color: #02A7EB;
}

.header-bot {
  align-items: center;
  background-color: #02A7EB;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 60px;
  padding: 15px;
  width: 100%;
}

.box-contador1 {
  align-items: center;
  background-color: white;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 20px;
  width: 20px;
}

.box-contador2 {
  align-items: center;
  background-color: white;
  color: #02A7EB;
  top: 60px;
  right: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 17px;
  width: 17px;
}

.logo-filtro {
  cursor: pointer;
  margin: 5px;
  width: 30px;
}

/* .logo-filtro:hover {
  width: 30px;
  cursor: pointer;
} */

.logo-lupa {
  width: 25px;
  cursor: pointer;
}

.search-label {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  padding: 7px 10px;
  width: 95%;
}

.search-input {
  align-items: center;
  border: none;
  border-radius: 20px;
  color: #02A7EB;
  font-size: large;
  font-weight: 700;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

.search-input::placeholder {
  color: #8d8d8d;
}

main {
  align-items: center;
  display: flex;
  margin: auto;
}

.banner {
  box-shadow: 10px 5px 5px rgb(194, 209, 214);
  border-radius: 10px;
  margin: auto;
  width: 90%
}

.banner-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}